* {
  font-family: Arial, sans-serif; }

body {
  margin: 0; }

h1 {
  margin: 0; }

div.flexbox {
  display: flex;
  flex-flow: row wrap;
  min-height: calc(100vh - 15vh - 40px);
  width: 100vw; }
  div.flexbox > * {
    background-color: #cf69ff; }
  div.flexbox > main {
    width: 100%;
    padding: 20px; }
    div.flexbox > main p {
      font-size: 1.5rem; }

div.flexbox > *, body > header, body > footer {
  border-radius: 10px;
  margin: 10px; }

body > header, body > footer {
  background-color: #fcfc6f; }

body > header {
  height: 10vh; }
  body > header nav {
    height: 100%;
    display: flex;
    align-items: center; }
    body > header nav > h1 {
      color: #54abff;
      font-size: 3rem;
      margin: 0 20px;
      cursor: pointer; }
    body > header nav > a {
      color: #54abff;
      text-decoration: none;
      font-size: 1.5rem;
      margin: 0 20px;
      transition: all 200ms; }
    body > header nav > a:hover {
      color: #cf69ff;
      transform: scale(1.2); }

body > footer {
  color: #54abff;
  text-align: center;
  line-height: 5vh;
  height: 5vh; }

/*

article > form {
	display: flex;
	flex-direction: column;
	font-size: 30px;
	
}

table {
	width: 100%;
	text-align: center;

}

table td, table tr {
	font-size: 1.75rem;
	padding: 10px 0 10px 0;
	border: 2px dashed $tertiary;
}

table tr:hover {
	background-color: $main-light;
}

#menu {
	display: flex;
	align-items: center;
	background-color: $tertiary;
	box-shadow: 0 2px black;
	height: 70px;
}

nav#menu > * {
	padding: 20px;
}

nav#menu h1 {
	color: $secondary-dark;
	cursor: pointer;
	font-size: 3rem;
}

nav#menu .link {
	color: $secondary-light;
	text-decoration: none;
	transition: 200ms;
	font-size: 1.5rem;
}

nav#menu .link:hover, nav#menu .link:focus {
	color: $secondary-dark;
	text-shadow: 1px 0 $tertiary,
	0 1px $tertiary,
	-1px 0 $tertiary,
	0 -1px $tertiary,
	1px 1px $tertiary,
	1px -1px $tertiary,
	-1px -1px $tertiary,
	-1px 1px $tertiary;
	text-decoration: none;
	transform: scale(1.1);
}



div#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: $tertiary;
	height: 25px;
	text-align: center;
}


*/
