@import '~bootstrap/scss/bootstrap';

$main: #cf69ff;
$secondary: #69b6ff;
$secondary-dark: #0083ff;
$terciary: #fcfc6f;

body {
	background-color: $main;
}

h1 {
	color: $secondary;
}

h3 {
	color: $terciary;
	background-color: $secondary;
	padding: 10px;
}

p {
	font-size: 18px;
}

#menu {
	display: flex;
	align-items: center;
	background-color: $terciary;
	box-shadow: 0 2px black;
	height: 50px;
}

.menu-item {
	padding: 10px;
}

.link {
	color: $secondary;
	text-decoration: none;
	transition: 200ms;
}

.link:hover {
	color: $secondary-dark;
	text-shadow: 1px 0 $terciary,
	0 1px $terciary,
	-1px 0 $terciary,
	0 -1px $terciary,
	1px 1px $terciary,
	1px -1px $terciary,
	-1px -1px $terciary,
	-1px 1px $terciary;
	text-decoration: none;
	transform: scale(1.15);
}

div.component {
	padding: 10px 50px 10px 50px;
	text-align: center;
}

div#footer {
	padding: 20px;
	text-align: center;

}

@media only screen and (max-device-width: 414px) {
	body {
		
	}

	h1 {
		font-size: 90px;
	}

	h3 {
		font-size: 80px;
		margin-bottom: 20px;
	}

	p {
		font-size: 40px;
	}

	.title {
		color: $terciary;
		background-color: $secondary;
		height: 200px;
	}

	#menu {
		flex-direction: column;
		height: auto;
		box-shadow: none;
	}

	.menu-item {
			display: flex;
		width: 100%;
justify-content: center;
		align-items: center;

	}

	
	.link {
		height: 150px;

				font-size: 55px;
						transition: 0s;
	}

	.link:focus, .link:hover {
		color: $terciary;
		background-color: $secondary;
		text-shadow: none;
		font-weight: bolder;
		transform: none;
	}

	div.component {
		padding-top: 30px;
		text-align: center;
	}

	div#footer {
		padding: 20px;
		text-align: center;
		font-size: 40px;
	}

}
