$purple: #cf69ff;
$blue: #54abff;
$yellow: #fcfc6f;

body {
	font-family: sans-serif;
	background-color: #ECECEC;
	margin: 0;
}

header, main, footer {
	margin: 2rem;
	border: 2px solid $purple;
	border-radius: 10px;
}

header, footer {
	background-color: $yellow;
}

header {
	padding: 2rem;

	h1, a {
		color: $blue;
		cursor: pointer;
	}

	h1 {
		font-family: serif;
		font-size: 5rem;
		margin: 0;
	}

	nav {
		display: flex;
		flex-flow: row wrap;

		a {
			text-decoration: none;
			font-size: 2.5rem;
			margin: 1rem 2rem 1rem 0;

			&:hover, &:active {
				color: $purple;
			}

			&:active {
				color: $blue;
			}
		}
	}
}

footer {
	color: $blue;
	text-align: center;
	line-height: 5vh;
}

main.flexbox {
	display: flex;
	flex-flow: row wrap;
	padding: 3rem;

	h2 {
		margin: 0;
		font-size: 3rem;
		color: $purple;
		display: inline-block;
	}

	p, li {
		font-size: 1.5rem;
		line-height: 3rem;
	}

	form {
		display: flex;
		flex-flow: row wrap;

		label {
			color: $purple;
			margin: 1rem 0;
			font-size: 2rem;
			min-width: 100%;
			display: inline-block;
			line-height: 4rem;
			cursor: pointer;
		}

		input, textarea {
			font-size: 3rem;
			padding: 1rem;

			border: 2px solid black;
			border-radius: 10px;

			width: 100%;

			box-sizing: border-box;

			&:hover {
				border-color: $purple;
			}

			&:focus {
				border-color: $blue;
			}

			&:invalid {
				border-color: red;
			}
		}

		input#submit {
			color: black;
			border: 2px solid black;

			cursor: pointer;

			&:hover {
				color: $purple;
				border-color: $purple;
			}

			&:active {
				background-color: $yellow;
				color: $purple;
			}
		}

	}
}

@media (max-width: 800px) {
	header nav {
		flex-flow: column nowrap;
	}
}
